<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather</title>
    </head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="city" placeholder="Enter the City">
        <button type="submit">Search</button>
    </form>
    <h2>{{temp}}</h2>
    <h2>{{city}}</h2>
    <p>{{description}}</p>
    <p><img src="http://openweathermap.org/img/w/{{icon}}.png" width="75px"></p>
<p>
    {{day}}
</p>
</body>

</html>