<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather</title>
    </head>
<body style="
    background: url('{{ city_image }}') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;">

    <div style="background: rgba(0,0,0,0.5); padding: 40px; border-radius: 20px; color: white; text-align: center;">
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="city" placeholder="Search a city...">
            <button type="submit">Go</button>
        </form>

        <h1>{{ city }}</h1>
        <h2>{{ temp }}°C</h2>
        <p>{{ desc|title }}</p>
    </div>
</body>
